{# IOS-XE — eBGP underlay on /127 + eBGP EVPN on loopbacks, multihop. #}
l2vpn evpn
 replication-type ingress
 router-id Loopback0
 default-gateway advertise enable

router bgp {{ node.asn }}
 bgp router-id interface Loopback0
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 address-family ipv6 unicast
  redistribute connected
 address-family l2vpn evpn
  retain route-target all
{% for p in peers %}
 neighbor {{ p.remote_ipv6 }} remote-as {{ node_by_name[p.remote_node].asn }}
 neighbor {{ p.remote_ipv6 }} description underlay to {{ p.remote_node }}
 neighbor {{ node_by_name[p.remote_node].loopback_v6 }} remote-as {{ node_by_name[p.remote_node].asn }}
 neighbor {{ node_by_name[p.remote_node].loopback_v6 }} description evpn to {{ p.remote_node }}
 neighbor {{ node_by_name[p.remote_node].loopback_v6 }} ebgp-multihop 3
 neighbor {{ node_by_name[p.remote_node].loopback_v6 }} update-source Loopback0
 address-family ipv6 unicast
  neighbor {{ p.remote_ipv6 }} activate
 address-family l2vpn evpn
  neighbor {{ node_by_name[p.remote_node].loopback_v6 }} activate
  neighbor {{ node_by_name[p.remote_node].loopback_v6 }} send-community both
{% endfor %}
