{# Aruba AOS-CX 10.x — numbered IPv6 /127 p2p underlay + IS-IS L2. #}
hostname {{ node.name }}
!
router isis
    area-id {{ fabric.isis_area }}
    system-id {{ node.isis_net.split('.')[1:-1] | join('.') }}
    is-type level-2
    address-family ipv6 unicast
        multi-topology
!
interface loopback 0
    description fabric loopback
    ipv6 address {{ node.loopback_v6 }}/128
    ip router isis
!
{% for p in peers %}
interface {{ p.local_iface }}
    description {{ p.description }}
    no shutdown
    routing
    mtu {{ fabric.mtu }}
    ipv6 address {{ p.local_ipv6 }}/{{ p.prefix_len }}
    ip router isis
    isis network point-to-point
!
{% endfor %}
