{# NX-OS — eBGP underlay + eBGP EVPN (over loopbacks, multihop). #}
route-map ALLOW-ALL permit 10

router bgp {{ node.asn }}
  router-id {{ node.router_id_v4 }}
  address-family ipv6 unicast
    redistribute direct route-map ALLOW-ALL
  address-family l2vpn evpn
    retain route-target all
{% for p in peers %}
  neighbor {{ p.remote_ipv6 }}
    remote-as {{ node_by_name[p.remote_node].asn }}
    description underlay to {{ p.remote_node }} ({{ p.remote_iface }})
    address-family ipv6 unicast
  neighbor {{ node_by_name[p.remote_node].loopback_v6 }}
    remote-as {{ node_by_name[p.remote_node].asn }}
    description evpn to {{ p.remote_node }}
    update-source loopback0
    ebgp-multihop 3
    address-family l2vpn evpn
      send-community extended
{% endfor %}

interface nve1
  no shutdown
  host-reachability protocol bgp
  source-interface loopback0
  global ingress-replication protocol bgp
  global suppress-arp
