{# Arista EOS — eBGP underlay (over /127s) + eBGP EVPN (over loopbacks, multihop). #}
router bgp {{ node.asn }}
   router-id ipv6 {{ node.loopback_v6 }}
   no bgp default ipv4-unicast
   maximum-paths 8 ecmp 8
   !
   neighbor UNDERLAY peer group
   neighbor UNDERLAY send-community
   neighbor UNDERLAY maximum-routes 12000
   !
   neighbor EVPN peer group
   neighbor EVPN update-source Loopback0
   neighbor EVPN ebgp-multihop 3
   neighbor EVPN send-community extended
{% for p in peers %}
   neighbor {{ p.remote_ipv6 }} peer group UNDERLAY
   neighbor {{ p.remote_ipv6 }} remote-as {{ node_by_name[p.remote_node].asn }}
   neighbor {{ node_by_name[p.remote_node].loopback_v6 }} peer group EVPN
   neighbor {{ node_by_name[p.remote_node].loopback_v6 }} remote-as {{ node_by_name[p.remote_node].asn }}
{% endfor %}
   !
   address-family ipv6
      redistribute connected
      neighbor UNDERLAY activate
   !
   address-family evpn
      neighbor EVPN activate
{% if node.is_vtep %}
!
interface Vxlan1
   vxlan source-interface Loopback0
   vxlan udp-port 4789
{% endif %}
